
/*  |---------------------------|
    | SwiftMan by ARMAN RAHMAN  |
    |---------------------------|  */

    :root{
        --theme_bgcolor: ;
        --theme_color: ;
        --theme_colorlight: ;
        --theme_colordark: ;
    }

    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    }
    